@font-face {
  font-family: gadugi;
  src: url(website-test-a/fonts/gadugi-normal/tff);
}

.h1 {
  font-style:normal;
  font-variant:normal;
  font-weight:bold;
  font-stretch:normal;
  font-family:Gadugi;
}
